* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Pacifico", cursive; */
}

:hover a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  display: block;
}

#home {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../img/carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  height: 750px;
  background-attachment: fixed;
}

#home .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
}

#header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

#header .logo {
  padding: 25px 0;
}

#header .logo a {
  color: #ffffff;
  font-weight: 700;
}

#header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  font-family: "Quicksand", sans-serif;
}

#header .search-bar {
  position: relative;
}

#header .search-input {
  padding: 25px 60px 25px 25px;
  height: 45px;
  font-size: 1.1rem;
  color: #5b606c;
  font-weight: 400;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  position: relative;
  right: 0;
}

#header .search-icon {
  color: #5b606c;
  position: absolute;
  right: 20px;
  top: 17px;
}

#header .button i {
  display: inline-block;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  padding: 15px;
}

.carousel h1 {
  font-size: 3.7rem;
  font-weight: 600;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  line-height: 70px;
}

.carousel p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 30px;
  font-family: "Quicksand", sans-serif;
  margin-top: 30px;
  margin-bottom: 50px;
}

.carousel .button {
  display: inline-block;
  position: relative;
}

.carousel .button-icon {
  color: #ffffff;
  font-size: 1.2rem;
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 55px;
  transition: all 0.5s;
}

.btn-outline-primary {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 7px;
  position: relative;
  transition: all 0.5s;
}

.btn {
  font-weight: 700;
  font-size: 1.2rem;
  padding: 15px 75px 15px 55px;
}

.btn-outline-primary:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ff6600;
}

.carousel .button:hover .button-icon {
  color: #ff6600;
}

#about .container {
  padding: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#about .about-left h2 {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  color: #ff6600;
}

#about .about-left p {
  font-size: 2.7rem;
  font-weight: 600;
  color: #000000;
  font-family: "Quicksand", sans-serif;
  line-height: 50px;
}

#about .about-right p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #5b606c;
  line-height: 30px;
}

.highlight {
  background-color: #ff6600;
}

.highlight .row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center .section-inner {
  margin: 0;
  padding: 0;
}

.highlight .row .img {
  background-image: url(../img/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 500px;
}

.highlight .img::before {
  content: "";
  background: rgb(16, 15, 19/46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.highlight .row .text h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1;
  display: block;
  font-family: 'Pacifico', cursive;
}

.highlight .row .text h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.highlight .row .text p {
  color: #ffdfc9;
}

.highlight .row .sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}


.highlight .row .sub_icon i {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 6px;
  background-color: #fff;
  color: #ff6600;
  line-height: 70px;
  font-size: 25px;
}

.highlight .row .sub_icon a {
  display: block;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 15px;
}

.highlight .row .sub_icon a:hover {
  text-decoration: none;
  opacity: 0.9;
}

.highlight .row .sub_icon p {
  color: #ffdfc9;
}

.categories {
  background-color: #f7f7f7;
}

.categories .slide-grid {
  position: relative;
  margin-bottom: 32px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.categories .img {
  position: relative;
}

.categories .img::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  position: absolute;
  background: rgba(0, 0, 0, 0);

}

.categories .img img {
  display: block;
  margin: 0;
  text-align: center;
  width: 100%;
  border-radius: 6px;
}

.categories .info {
  position: absolute;
  left: auto;
  bottom: 0;
  width: 95%;
  color: #fff;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
}

.categories .info h4 {
  font-size: 18px;
  color: #fff;
}

#menu .container {
  padding: 80px 0;
}

#menu .card-columns {
  column-gap: 30px;
}

#menu .card {
  border-radius: 0.5rem;
  margin-bottom: 25px;
  border: 1px solid #eeeeee;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
}

#menu .card-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 20px;
}

#menu .card-bottom {
  text-align: left;
}

#menu .card-info {
  display: inline-block;
  text-align: left;
}

#menu .card-body {
  padding: 50px 40px;
}

#menu .card-icon {
  width: 70px;
  height: 70px;
  line-height: 45px;
  background-color: #f9f8ff;
  border: 1px solid transparent;
  color: #ff6600;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px;
  transition: all 0.5s;
  display: inline-block;
}

#menu .pizza {
  font-size: 2.3rem;
}

#menu .card-info span {
  color: #5b606c;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0.4rem;
}

#menu .card-info h3 {
  color: #232121;
  font-size: 1.7rem;
}

#menu .card-text {
  color: #5b606c;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 30px;
}

#menu .card-body:hover .card-icon {
  background-color: #ff6600;
  color: #ffffff;
}

#menu h3:hover {
  color: #ff6600;
  cursor: pointer;
}